<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Animais</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<style>
     Body{
        background-color:turquoise;
     }
</style>
<body>
<h1 style="text-align:center;">Editar {{animal.nome}}</h1>
<form action="/edit/{{animal.id}}" class="container" method="post">
    <div class="row">
        <div class="col-md-6">
            <input type="text" name="nome" id="nome" placeholder="nome" class="form-control" value="{{animal.nome}}">
        </div>
        <div class="col-md-6">
            <input type="text" name="cor" id="cor" placeholder="cor" class="form-control" value="{{animal.cor}}">
        </div>
    </div>
    <br>
    <div class="row col-xs-12">
        <button type="submit" class="btn btn-block btn-success">Enviar</button>
    </div>
</form>
</body>
</html>
